* text=auto

*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.ico binary
*.icns binary
*.ttf binary
*.woff binary
*.woff2 binary
*.eot binary
*.pfb binary
*.gz binary
*.zip binary
*.psd binary
*.xla binary
*.oxt binary
*.snm binary
